@font-face{
    font-family: "SanFranciscoBlack";
    src: url("../fonts/SanFranciscoDisplay-Medium.otf");
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:white;
    font-family: "SanFranciscoBlack";
    height: 100vh;
}

#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6%;
}

.navlist {
    width: 14em;
    display:flex;
    justify-content: space-around;
    list-style: none;
}

.navlist li{
    cursor: pointer;
}

.navlist li a{
    color:#ead6b7;
    text-decoration:none;
    transition: 0.5s;
}

.navlist li a:hover{
    color:#ffee58;
    text-decoration:none;   
}

.titleSection{
    margin:auto;
}

h1{
    color:white;
    font-size: 4em;
}

h2 {
    text-align: center;
    color:white;
    font-size: 1em;
}


.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 120vh;
}

.about h3 {
    font-size: 2.8em;
    text-align: center;
    color: rgb(33,36,50);
}

.about_info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.about_info_container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height: 80vh;
}

h4{
   color: rgb(33,36,50);
}

.phone{
    display: block;
    position: relative;
    background-image: url("../img/phone.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .phone{
        display: none;
    }

    .about_info_container{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        height: 130vh;
    }
}

.services_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(33,36,50);
    height: 150vh;
}

.info_items {
    text-align: center;
    width: 60%;
    border:2px solid red;
}

.together_info {
    height: 50vh;
}

.footer_info {
    background-color: rgb(33,36,50);
    height: 100vh;
}

canvas {
    background: rgb(33,36,50);
    height: 100vh;
    position: absolute;
    z-index: -1;
}
