@font-face{
    font-family: "SanFranciscoBlack";
    src: url("../fonts/SanFranciscoDisplay-Medium.otf");
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:white;
    font-family: "SanFranciscoBlack";
    height: 100vh;
}

#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6%;
}

.navlist {
    width: 14em;
    display:flex;
    justify-content: space-around;
    list-style: none;
}

.navlist li{
    cursor: pointer;
}

.navlist li a{
    color:#ead6b7;
    text-decoration:none;
    transition: 0.5s;
}

.navlist li a:hover{
    color:#ffee58;
    text-decoration:none;   
}

.titleSection{
    margin:auto;
}

h1{
    color:white;
    font-size: 4em;
}

h2 {
    text-align: center;
    color:white;
    font-size: 1em;
}


.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 120vh;
}

.about h3 {
    font-size: 2.8em;
    text-align: center;
    color: rgb(33,36,50);
}

.about_info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.about_info_container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height: 80vh;
}

h4{
   color: rgb(33,36,50);
}

.phone{
    display: block;
    position: relative;
    background-image: url("../img/phone.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .phone{
        display: none;
    }

    .about_info_container{
        width: 100%;
        height: 100vh;
    }
}

.services_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(33,36,50);
    height: 150vh;
}

.info_items {
    text-align: center;
    width: 60%;
    border:2px solid red;
}

.work_together {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 60%;
    height: 40vh;
}

.form form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form form input[type='text'] {
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.66rem;
    letter-spacing: normal;
    color: rgb(33,36,50);
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(33,36,50);
}

.form_submit{
    border:2px solid red; 
    outline: none;
    border-radius: 50%;
    position: relative;
    top:50px;
}

.form_submit::before{
    content: "Send";
    color:white;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 1.3rem;
    font-weight: 600;
    font-stretch: normal;
    box-sizing: border-box;
    background-color: rgb(33,36,50);
    animation: pulse-dot 1.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
}

.form_submit::after {
    content : '';
    position: relative;
    border:10px solid red;
    left: calc(50% - 5px);
}



@keyframes pulse-ring {
    0% {
      transform: scale(.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }

@keyframes pulse-dot {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
       transform: scale(.8);
    }
}  

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(33,36,50);
    height: 30vh;
}

.footer_info {
    font-size: 1.3em;
    color: white;
    margin-bottom:30px;
}

footer div {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

canvas {
    background: rgb(33,36,50);
    height: 100vh;
    position: absolute;
    z-index: -1;
}
